Flask==2.0.1
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
Flask-Testing==0.8.1  
Flask-JWT-Extended==4.4.4
Flask-Migrate==3.1.0
flask-marshmallow==0.14.0
flask_login==0.6.2
marshmallow==3.17.1
marshmallow-sqlalchemy==0.28.1
Jinja2==3.0.1
python-dotenv==0.20.0
psycopg2-binary==2.8.6
Flask-Migrate==3.1.0